@charset "utf-8";
/*======================================================================
Site Name: Dashbaord  
Version: 1.0
Author: Isotope Web Team 
*/
/********* Reset CSS *********/ 

*, *:before, *:after {  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary { display:block }audio, canvas, video { display:inline-block }audio:not([controls]) {display:none;height:0}html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust:  100%; height:100%}a {text-decoration:none;color:#000;}a:focus {outline:thin dotted}a:hover,a:active {outline: 0;}a:hover {text-decoration:none;color:#555;}h1,h2,h3,h4,h5,h6 {font-weight:normal;}b,strong,dt,th {font-weight: bold;}em, i { font-style:italic;}p,h1,h2,h3,h4,h5,h6, ul,ol,dd,table,fieldset,address {margin:0; padding:0;}img {-ms-interpolation-mode: bicubic;border: 0;vertical-align: middle; max-width:100%; height:auto;}figure {margin:0;}legend {white-space:normal;}q { quotes:"\201C" "\201D" "\2018" "\2019" }small { font-size:80% }sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline }sup { top:-0.5em }sub { bottom:-0.25em }table{border-collapse: separate;border-spacing: 0;width: 100%; empty-cells:show; border:none;}table table { margin:0}th,td {border:none; padding:8px 10px}caption,th,td {font-weight: normal; background:#fff} 
/********* Form fields *********/
button,input,select,textarea {margin: 0;vertical-align: baseline; background-color:transparent; border:none;}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor:pointer;}
input[type="text"],input[type="email"],input[type="tel"],input[type="number"],input[type="url"],input[type="password"],input[type="search"], select, textarea{border:1px solid #e5e5e5;width:100px;height:30px; padding:0;font-size:100%;line-height:normal;}
input[type="checkbox"], input[type="radio"] {box-sizing:border-box;padding:0;margin:0 5px 0 0;}
input[type="checkbox"]{-webkit-appearance: checkbox;}
input[type="radio"] {-webkit-appearance:radio}
input[type="submit"], input[type="button"],input[type="reset"],button,.button{line-height:20px;padding:4px 10px;display:inline-block; text-decoration:none; border:0 none;margin:0;outline:0 none;}
textarea {overflow:auto;vertical-align: top; resize:vertical;height:100px; max-width:100%; min-width:100%; max-height:500px; min-height:50px;}
fieldset {border:0 none;margin:0;padding:0}
label {display:inline-block; padding-bottom:5px; font-weight:300}
/********* Clear floats *********/
.cf:before, .cf:after, .container:before, .container:after, .row:before, .row:after, ul:before, ul:after, .boxs:before, .boxs:after {content:" ";display:table}
.cf:after, .container:after, .row:after, ul:after, .boxs:after{clear:both}
/********* Common Classes *********/
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:20px 0;padding:0}
body,button,input,select,textarea {color:#393939;font-family: 'Roboto', sans-serif; font-size:15px;line-height:1.5;}
body {background-color:#fff; height:100%} 
h1 {font-size: 2.308em;}
h2 {font-size: 2.000em;}
h3 {font-size: 1.692em;}
h4 {font-size: 1.538em;}
h5 {font-size: 1.385em;}
h6 {font-size: 1.231em;}
ul {padding:0 0 0 15px;}
ol { padding:0 0 0 20px}
ul ul,ol ol { margin:10px 0}
ul.bulletText { list-style:none; padding:0;}
ul.bulletText li {background:url(../images/right-arrow.gif) no-repeat left 7px;padding:2px 0 2px 15px;}
p,h1,h2,h3,h4,h5,h6, ul,ol,dd,table,fieldset,address {margin: 0 0 25px;}
input[type="text"],input[type="email"],input[type="tel"],input[type="number"],input[type="url"],input[type="password"],input[type="search"], select, textarea{border:1px solid #dcdcdc;width:100%;height:38px; line-height:20px; padding:9px 15px; font-weight:300;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
input[type="text"]:focus,input[type="email"]:focus,input[type="tel"]:focus,input[type="number"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus, select:focus, textarea:focus{ border-color:#00a2ff}
input[type="submit"], input[type="button"],input[type="reset"],button,.button{ background-color:#fff; color:#000000; border:1px solid #000; height:42px; padding:0; font-size:17px; display:block;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
input[type="submit"]:hover, input[type="button"]:hover,input[type="reset"]:hover,button:hover,.button:hover{color:#fff; background-color:#000;}
.alignLeft { float:left}
.alignRight { float:right;}
.displayNone, .hasJS noscript, .hideThis{display:none!important;visibility:hidden}
.jsRequired { display:block; background-color:#C00; color:#fff; width:100%; line-height:30px; text-align:center; font-size:12px; border:0 none;}
.mrgAuto {margin-right:auto; margin-left:auto;}
.mrgT20 {margin-top:20px;}.mrgL20 {margin-left:20px;}.mrgR20 {margin-right:20px;}.mrgB20 {margin-bottom:20px;}.mrgT10 {margin-top:10px;}.mrgL10 {margin-left:10px;}.mrgR10 {margin-right:10px;}.mrgB10 {margin-bottom:10px;}.padL20 {padding-left:20px;}.padR20 {padding-right:20px;}.padB20 {padding-bottom:20px;}.padT20 {padding-top:20px;}.padL15 {padding-left:15px;}.padR15 {padding-right:15px;}.padB15 {padding-bottom:15px;}.padT15 {padding-top:15px;}.padL10 {padding-left:10px;}.padR10 {padding-right:10px;}.padB10 {padding-bottom:10px;}.padT10 {padding-top:10px;}.padTB10 {padding-top:10px;padding-bottom:10px;}.padTB15 {padding-top:15px;padding-bottom:15px;}.padTB20 {padding-top:20px;padding-bottom:20px;}.pad10 {padding:10px;}.pad15 {padding:15px;}.pad20 {padding:20px;}.pad25 {padding:25px;}.pad30 {padding:30px;}
/********** Image Formating & Alignment **********/
.imgLeft{float:left; margin-right:20px; margin-bottom:20px;}
.imgRight{float:right; margin-left:20px; margin-bottom:20px;}
.imgCenter{float:none; margin-bottom:20px; margin-left:auto; margin-right:auto; display:block;}
.imgBorder { border:1px solid #ccc; padding:5px}
.rounded {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.circle {-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.shadow {-webkit-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.2);-moz-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.2);box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.2); padding:4px;}
/********** Alignment **********/
.left{text-align:left !important}
.right{text-align:right !important}
.center{text-align:center !important}
.justify{text-align:justify !important}
/********** Error/Alert Messages **********/
.message{padding:10px 38px 10px 10px;margin-bottom:20px;border:1px solid transparent; position:relative;}
.message.success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
.message.success a {color: #2b542c;}
.message.error {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
.message.error a{color: #843534;}
/********** Table **********/
.tableOut { overflow-y:hidden; overflow-x:auto}
table{border-collapse: separate;border-spacing: 0;width: 100%; empty-cells:show; border:none;border-top:1px solid #E9E9EA;border-left:1px solid #E9E9EA;}
table table { margin:0}
th,td {border:none; padding:8px 10px;border-bottom:1px solid #E9E9EA;border-right:1px solid #E9E9EA;}
caption,th,td {font-weight: normal; background:#fff}
th{background:#f3f3f3}
.tableScroll { overflow-y:hidden; overflow-x:auto} 
/*Structure*/
.container { margin:0 auto; width:100%; max-width:1170px;}
.logo{margin:5px 0; text-align:center}

.topLogo { background-color:#000000; padding:20px 30px; width:100%; max-width:1280px; position:absolute; left:50%; top:0; margin-left:-640px;}

/*Login Page*/
.loginPage{position:relative; height:100%; width:100%}
.loginBlock {background: #fff;box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);border-radius: 2px;width:100%;max-width:415px; position:absolute; left:50%; top:50%; padding:40px 50px; margin:-180px 0 0 -207px;}
.loginBlock .logo{ margin-bottom:40px; text-align:center}
.loginBlock .inputRow { position:relative; margin-bottom:15px;}
.loginBlock label { position:absolute; left:0; top:80; font-size:16px; width:100%; line-height:38px; padding-left:15px; cursor:text; display:none !important;}
.loginBlock .form-control { margin-bottom:5px;}
.loginBlock .btn {width:100%}
.loginBlock label.error, .loginBlock .msg.error {position:static; color:#ff0000; font-size:14px; line-height:normal;padding:0}
.loginBlock .msg.error { margin-bottom:15px; text-align:center}
.errorMsg {position:static; color:#ff0000; font-size:14px; line-height:normal;padding:0}
.loginTable, .loginTable td, .loginTable th {border:none;  padding:0; margin:0}
/*Slider*/
.cbp-bislideshow {list-style: none;width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: -1;padding: 0;margin: 0;}.cbp-bislideshow li {position: absolute;width: 101%;height: 101%;top: -0.5%;left: -0.5%;opacity: 0;-webkit-transition: opacity 1s;-moz-transition: opacity 1s;transition: opacity 1s;}/* If background-size supported we'll add the images to the background of the li */.backgroundsize .cbp-bislideshow li {-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;background-position: center center;}/* ...and hide the images */.backgroundsize .cbp-bislideshow li img {display: none;}.cbp-bislideshow li img {display: block;width: 100%;}.cbp-bicontrols {position: fixed;width: 300px;height: 100px;margin: -50px 0 0 -150px;top: 50%;left: 50%;}.cbp-bicontrols span {float: left;width: 100px;height: 100px;position: relative;cursor: pointer;}.cbp-bicontrols span:before {position: absolute;width: 100%;height: 100%;top: 0;left: 0;text-align: center;font-family: 'entypo';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 100px;font-size: 80px;color: #fff;-webkit-font-smoothing: antialiased;opacity: 0.7;}.cbp-bicontrols span:hover:before {opacity: 1;}.cbp-bicontrols span:active:before {top: 2px;}span.cbp-biplay:before {content: "\e002";}span.cbp-bipause:before {content: "\e003";}span.cbp-binext:before {content: "\e000";}span.cbp-biprev:before {content: "\e001";}.cbp-bicontrols span.cbp-binext {float: right;}/* Fallback */.no-js.no-backgroundsize .cbp-bislideshow li:first-child {opacity: 1;}.no-js.backgroundsize .cbp-bislideshow li:first-child img {display: block;}

/*Forgot Password*/
#forgotpassword {display:none}
.forgotPassword { text-align:right; padding-bottom:20px;}
.forgotPassword a {font-size:12px; color:#aaaaaa}
.forgotPassword a:hover {color:#000}

/*error*/
.errorMsg {position:static; color:#ff0000; font-size:14px; line-height:normal;padding:0}

/*Dashboard*/
.logoDashboard { padding:10px 30px}

/*Country Select*/
.countrySelect { background-color:#f4f4f4}
.countrySelect h1 { font-size:20px; font-weight:300; color:#231f20; margin-bottom:25px; text-align:center;}
.selectCountry {margin:100px auto 0; width:100%; max-width:950px;}
.selectCountry .countryBlock {-webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);-moz-box-shadow:0px 3px 8px 0px rgba(0, 0, 0, 0.2);box-shadow:0px 3px 8px 0px rgba(0, 0, 0, 0.2); margin-bottom:25px; background-color:#fff;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; padding:25px 30px;}
.countrySelect .imgBlock { float:left; width:14%; padding-right:25px;}
.countrySelect h2 {float:left; width:26%; font-size:24px; font-weight:normal; color:#00a2ff; margin:0}
.countrySelect .projectList { float:right; width:60%; font-size:15px}
.projectList ul { list-style:none; float:left; width:50%; margin:0; padding:0}
.projectList li { padding:0 0 8px 25px;}
.projectList li a {color:#000000; display:block;transition:all 0.2s ease;}
.projectList li a:hover {color:#6790f0;}

.logOut { float:right; font-size:14px; line-height:21px; background-color:#00a2ff; color:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px; padding:3px 15px;}
.logOut:hover { background-color:#000; color:#fff}

#selectPage { background:url(../images/select-bg.jpg) repeat center top; background-size:cover}
.brandLogo { text-align:center; padding:140px 0 50px; font-size:36px; font-weight:bold; color:#fff}
.countrySelect h1{padding:140px 0 50px; max-width:1280px; margin:0 auto; color:#fff}
.servicesList { list-style:none; margin:0 0 25px; padding:0; text-align:center; clear:both}
.servicesList li { display:inline-block; min-width:220px;} 
.servicesList span {display:block; width:110px; height:110px; margin:0 auto 15px; background-color:#eee; -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%; background-image:url(../images/sprite.png); background-repeat:no-repeat; -webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out; position:relative;}
.servicesList .socialMedia span{background-position:28px 22px; background-color:#66a4c8;}
.servicesList .searchMarketing  span{background-position:-211px 22px; background-color:#e17879;}
.servicesList .webAnalytics  span{background-position:-442px 22px; background-color:#f1c143;}
.servicesList .brandMentions  span{background-position:-679px 22px; background-color:#af88c3;}
.servicesList .master span{background-position:-912px 22px; background-color:#2ebfa2;}
.servicesList .galaxys7 span{background:url(../images/galaxys7.png) no-repeat center center #CCCCCC;}
.servicesList .galaxya span{background:url(../images/galaxya.png) no-repeat center center #CCCCCC;}
.servicesList .qled span{background:url(../images/qled.png) no-repeat center center #CCCCCC;} 
.servicesList .samsungmembers span{background:url(../images/samsungmembers.png) no-repeat center center #CCCCCC;}  

.servicesList .socialMedia a:hover span{background-position:28px -130px; background-color:#fff;}
.servicesList .searchMarketing a:hover  span{background-position:-211px -130px; background-color:#fff;}
.servicesList .webAnalytics a:hover  span{background-position:-442px -130px; background-color:#fff;}
.servicesList .brandMentions a:hover  span{background-position:-679px -130px; background-color:#fff;}
.servicesList .master a:hover span{background-position:-912px -130px; background-color:#fff;}
.servicesList .galaxys7 a:hover span, .servicesList .galaxya a:hover span{ background-color:#fff}


.servicesList span {-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;transition: transform ease-out 0.1s, background 0.2s;}
.servicesList span:after {pointer-events: none;position: absolute;width: 100%;height: 100%;border-radius: 50%;content: '';-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;top: 0;left: 0;padding: 0;z-index: -1;box-shadow: 0 0 0 2px rgba(255,255,255,0.1);opacity: 0;-webkit-transform: scale(0.9);-moz-transform: scale(0.9);-ms-transform: scale(0.9);transfo	rm: scale(0.9);}
.servicesList a:hover span {-webkit-transform: scale(0.90);-moz-transform: scale(0.90);-ms-transform: scale(0.90);transform: scale(0.90);color: #fff;}
.servicesList a:hover span:after {-webkit-animation: sonarEffect 1.3s ease-out 75ms;-moz-animation: sonarEffect 1.3s ease-out 75ms;animation: sonarEffect 1.3s ease-out 75ms;}
@-webkit-keyframes sonarEffect {0% {opacity: 0.3;}
40% {opacity: 0.5;box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #00a2ff, 0 0 0 10px rgba(255,255,255,0.5);}
100% {box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #00a2ff, 0 0 0 10px rgba(255,255,255,0.5);-webkit-transform: scale(1.2);opacity: 0;}
}
@-moz-keyframes sonarEffect {0% {opacity: 0.3;}
40% {opacity: 0.5;box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #00a2ff, 0 0 0 10px rgba(255,255,255,0.5);}
100% {box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #00a2ff, 0 0 0 10px rgba(255,255,255,0.5);-moz-transform: scale(1.2);opacity: 0;}
}
@keyframes sonarEffect {0% {opacity: 0.3;}
40% {opacity: 0.5;box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #00a2ff, 0 0 0 10px rgba(255,255,255,0.5);}
100% {box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #00a2ff, 0 0 0 10px rgba(255,255,255,0.5);transform: scale(1.2);opacity: 0;} 
}
 
.servicesList a{ color:#fff} 
.servicesList a:hover{ color:#eee}

.projectText {position:absolute;left:0; top:0;z-index:999999; background-position:0 0; background-repeat:no-repeat; height:50px; padding:12px 0 13px 107px; display:none;}
.projectText a { overflow:hidden; text-indent:-1000px; display:block; height:25px;}
.projectText.imBlock {display:inline-block;background-image:url(../images/breadcrumbs1.png); width:130px;}
.projectText.seBlock {display:inline-block;background-image:url(../images/breadcrumbs3.png); width:135px;} 
.projectName { display:none;}

@media only screen and (max-width: 1280px) {
.topLogo {max-width:100%; left:0; margin-left:0;}
.servicesList li { min-width:200px;}
}
@media only screen and (max-width: 1023px) {
.servicesList li { min-width:170px;}
}
@media only screen and (max-width: 899px) {
.selectCountry { padding:0 20px;}
.projectList ul {float:none; width:auto;}
.servicesList li { min-width:150px;}
}
@media only screen and (max-width: 767px) {
.topLogo {text-align:center}
.countrySelect .imgBlock, .countrySelect h2, .countrySelect .projectList{float:none; width:auto; padding:0 0 20px; text-align:center;}
.projectList li { border-bottom:1px solid #eee; padding:0 0 10px; margin-bottom:10px;}
.servicesList li { min-width:160px; margin-bottom:40px;}
}
@media only screen and (max-width: 639px) {
.servicesList li { min-width:150px;}
}
@media only screen and (max-width: 480px) {
.loginBlock { padding:30px; left:5%; margin-left:0; max-width:90%}
}

